body {
  background-color: black;
  text-align: center;
  text-decoration: none;
  font-size: 26px;
}

.box {
  color: white;
  text-align: center;
  padding: 20px;
  line-height: 1.5;
  font-size: 22px;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}