body {
  background-color: black;
  text-align: left;
  padding: 20px;
  margin: 40px;
  width: 400px;
  font-size: 26px;
}

p {
  color: white;
}

h3 {
  color: #ff0000;
}

.header {
  color: #ff0000;
}