body {
	width: 100%;
	background-color: black;
}

#container {
	margin-top:60px;
	margin-left: 160px;
	width: 500px;
	text-align: center;
	line-height: 124%;
}

.chunk {
  color: white;
  font-size: 26px;
}

.header {
  color: #ff0000;
  font-size: 30px;
}